.env
.env.development
.env.production

nginx/certs/
nginx/acme/

mariadb/data
mariadb/dumps/*.sql
!mariadb/dumps/.gitkeep
!mariadb/dumps/init.sql

**/node_modules/
**/dist/
**/.vite/

*.log
npm-debug.log*

.DS_Store
Thumbs.db

*.tsbuildinfo
nginx/html/.well-known/
